*.class
*.log

# various kinds of temporary files
\#*
\.\#*
\.history
*\.swp
\.tif
vim\.exe\.stackdump

# sbt specific
\.build\.sbt\.swp
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
\.scala_dependencies

\.idea
\.name
\.history

# eclipse specific
\.classpath
\.cache*
\.settings/
\.settings*
\.project*
\.cache-main*

# R specific
\.R*

# emacs backup and temp files
*~

